.table-container {
    border: 2px solid rgba(88, 85, 85, 0.3);
    border-radius: 15px 15px 15px 15px;
    background-color: rgba(9, 1, 255, 0.079);
    width: 100%;
    height: 80vh;

    padding: 2%;
    margin: 5px;

    overflow-y: scroll
}

.form-empty-text {
    margin-top: 50px;
    text-align: center;
    color: rgb(87, 85, 85);
}

/* stying ths scrol bar */
.table-container::-webkit-scrollbar {
    width: 15px;
}

.table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}